In [31]:
import pandas as pd
import numpy as np

In [32]:
ships = pd.read_csv('../data/full_data.csv')

/var/folders/35/dygyrvld64l768d29yf_43k00000gn/T/ipykernel_66264/326477821.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  ships = pd.read_csv('../data/full_data.csv')

In [33]:
ships

,Captain's name,Crew deaths during voyage,Crew at first landing of captives,Crew at voyage outset,Date vessel departed with captives,Date vessel departed for homeport,Display in compact mode,Date vessel arrived with captives,First place where captives were landed,First place where captives were purchased,...,Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place.1,Voyage itinerary imputed port where began (ptdepimp) place.1,Voyage ship place where vessel constructed,"Voyage dates that began (depb,a,c)","Voyage dates that slave purchase began (d1slatrb,a,c)","Voyage dates of departure from last place landing (ddepamb,*,c)",Voyage ship place where vessel registered,Voyage itinerary place at which ended (portret),Voyage dates vessel departed africa (leftafr),"Voyage dates of first disembarkation slaves (datarr33,32,34)"
0,"Velde, Daniel ter",NaN,NaN,54.0,1732-09-03T00:00:00Z,1733-04-24T00:00:00Z,NaN,1732-11-18T00:00:00Z,NaN,NaN,...,"Suriname, place unspecified",Texel,NaN,"12,08,1731","01,30,1732","04,24,1733",NaN,Texel,"9,3,1732","11,18,1732"
1,"Hoeven, Jan van der<br/> Wenman, Roelof",NaN,NaN,23.0,1706-09-09T00:00:00Z,NaN,NaN,1706-11-30T00:00:00Z,NaN,NaN,...,Curaçao,Hellevoetsluis,NaN,"06,15,1704",",,1704",",,",NaN,NaN,"9,9,1706","11,30,1706"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,",,1684",",,",",,",NaN,NaN,NaN,",,"
3,"Scheij, Pieter",NaN,NaN,NaN,NaN,1688-01-01T00:00:00Z,NaN,1688-01-01T00:00:00Z,NaN,NaN,...,Curaçao,Texel,NaN,"02,,1686","07,27,1687",",,1688",NaN,Texel,NaN,",,1688"
4,"Stoop, Pieter<br/> Crans, Pieter",NaN,NaN,NaN,1700-12-15T00:00:00Z,1701-01-01T00:00:00Z,NaN,1701-06-23T00:00:00Z,NaN,NaN,...,Curaçao,Hellevoetsluis,NaN,"07,23,1700","10,08,1700",",,1701",NaN,Hellevoetsluis,"12,15,1700","06,23,1701"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,"Southeast Brazil, port unspecified",NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Havana,NaN,"12,12,1851",",,",",,",NaN,NaN,NaN,",,"
36071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,"Southeast Brazil, port unspecified",NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,",",,",NaN,NaN,NaN,",,"

In [34]:
ships.columns

Index(['Captain's name', 'Crew deaths during voyage',
       'Crew at first landing of captives', 'Crew at voyage outset',
       'Date vessel departed with captives',
       'Date vessel departed for homeport', 'Display in compact mode',
       'Date vessel arrived with captives',
       'First place where captives were landed',
       'First place where captives were purchased', 'Guns mounted', 'Cargo',
       'Year of arrival at port of disembarkation',
       'Voyage duration, homeport to disembarkation (in days)',
       'Place where vessel's voyage began',
       'Principal place where captives were purchased',
       'Principal place where captives were landed', 'Total embarked',
       'Total disembarked', 'Captive deaths during crossing',
       'Percentage of captives who died during crossing', 'Captive Background',
       'Flag of vessel', 'Percent boys', 'Percent children', 'Percent girls',
       'Percent males', 'Percent men', 'Percent women',
       'Sterling cash price in Jamaica',
       'Duration of captives' crossing (in days)', 'Flag of vessel.1',
       'Captives carried from 1st port', 'Captives carried from 2nd port',
       'Captives carried from 3rd port', 'Captives landed at 1st port',
       'Captives landed at 2nd port', 'Captives landed at 3rd port',
       'Captives intended to be purchased at 1st place',
       'Outcome of voyage for owner', 'Outcome of voyage if ship captured',
       'Outcome of voyage for captives', 'Particular outcome of voyage',
       'Vessel owner', 'Place where vessel's voyage ended',
       'Places of call before Atlantic crossing', 'Place registered',
       'Year registered', 'Resistance', 'Rig or type of vessel',
       'Show advanced variables in search filters',
       'Second place where captives were landed',
       'Second place where captives were purchased', 'Vessel name',
       'Date captive embarkation began', 'Source of data',
       'Third place where captives were landed',
       'Third place where captives were purchased', 'Tonnage',
       'Standardized tonnage', 'Captives arrived at 1st port',
       'Total embarked.1', 'Place constructed', 'Date vessel's voyage began',
       'Date vessel arrived at homeport', 'Voyage ID', 'Year constructed',
       'Voyage itinerary imputed port where began (ptdepimp) place',
       'Voyage itinerary imputed principal place of slave purchase (mjbyptimp) ',
       'Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place',
       'Voyage links',
       'Voyage itinerary imputed principal place of slave purchase (mjbyptimp) .1',
       'Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place.1',
       'Voyage itinerary imputed port where began (ptdepimp) place.1',
       'Voyage ship place where vessel constructed ',
       'Voyage dates that began (depb,a,c)',
       'Voyage dates that slave purchase began (d1slatrb,a,c)',
       'Voyage dates of departure from last place landing (ddepamb,*,c)',
       'Voyage ship place where vessel registered ',
       'Voyage itinerary place at which ended (portret) ',
       'Voyage dates vessel departed africa (leftafr)',
       'Voyage dates of first disembarkation slaves (datarr33,32,34)'],
      dtype='object')

In [35]:
ships.isnull().sum()

Captain's name                                                      4042
Crew deaths during voyage                                          31609
Crew at first landing of captives                                  33791
Crew at voyage outset                                              23337
Date vessel departed with captives                                 28025
                                                                   ...
Voyage dates of departure from last place landing (ddepamb,*,c)        0
Voyage ship place where vessel registered                          28496
Voyage itinerary place at which ended (portret)                    25300
Voyage dates vessel departed africa (leftafr)                      28024
Voyage dates of first disembarkation slaves (datarr33,32,34)           0
Length: 82, dtype: int64

In [36]:
# we will drop the rows that are missing location data 

ships.dropna(subset=['Voyage itinerary imputed port where began (ptdepimp) place',
       'Voyage itinerary imputed principal place of slave purchase (mjbyptimp) ',
       'Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place'], inplace=True)

In [37]:
ships['Voyage itinerary imputed port where began (ptdepimp) place'].apply(lambda x: str(x).split(',')[0])

0                   Texel
1          Hellevoetsluis
3                   Texel
4          Hellevoetsluis
5          Hellevoetsluis
               ...
36067      Rio de Janeiro
36068    Southeast Brazil
36069      Rio de Janeiro
36071    Southeast Brazil
36072      Rio de Janeiro
Name: Voyage itinerary imputed port where began (ptdepimp) place, Length: 27963, dtype: object

In [38]:
def clean_locations(df):
    df['Voyage itinerary imputed port where began (ptdepimp) place'] = df['Voyage itinerary imputed port where began (ptdepimp) place'].apply(lambda x: str(x).split(',')[0])
    df['Voyage itinerary imputed principal place of slave purchase (mjbyptimp) '] = df['Voyage itinerary imputed principal place of slave purchase (mjbyptimp) '].apply(lambda x: str(x).split(',')[0])
    df['Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place'] = df['Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place'].apply(lambda x: str(x).split(',')[0])
    return df

In [39]:
ships = clean_locations(ships)

In [40]:
ships

,Captain's name,Crew deaths during voyage,Crew at first landing of captives,Crew at voyage outset,Date vessel departed with captives,Date vessel departed for homeport,Display in compact mode,Date vessel arrived with captives,First place where captives were landed,First place where captives were purchased,...,Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place.1,Voyage itinerary imputed port where began (ptdepimp) place.1,Voyage ship place where vessel constructed,"Voyage dates that began (depb,a,c)","Voyage dates that slave purchase began (d1slatrb,a,c)","Voyage dates of departure from last place landing (ddepamb,*,c)",Voyage ship place where vessel registered,Voyage itinerary place at which ended (portret),Voyage dates vessel departed africa (leftafr),"Voyage dates of first disembarkation slaves (datarr33,32,34)"
0,"Velde, Daniel ter",NaN,NaN,54.0,1732-09-03T00:00:00Z,1733-04-24T00:00:00Z,NaN,1732-11-18T00:00:00Z,NaN,NaN,...,"Suriname, place unspecified",Texel,NaN,"12,08,1731","01,30,1732","04,24,1733",NaN,Texel,"9,3,1732","11,18,1732"
1,"Hoeven, Jan van der<br/> Wenman, Roelof",NaN,NaN,23.0,1706-09-09T00:00:00Z,NaN,NaN,1706-11-30T00:00:00Z,NaN,NaN,...,Curaçao,Hellevoetsluis,NaN,"06,15,1704",",,1704",",,",NaN,NaN,"9,9,1706","11,30,1706"
3,"Scheij, Pieter",NaN,NaN,NaN,NaN,1688-01-01T00:00:00Z,NaN,1688-01-01T00:00:00Z,NaN,NaN,...,Curaçao,Texel,NaN,"02,,1686","07,27,1687",",,1688",NaN,Texel,NaN,",,1688"
4,"Stoop, Pieter<br/> Crans, Pieter",NaN,NaN,NaN,1700-12-15T00:00:00Z,1701-01-01T00:00:00Z,NaN,1701-06-23T00:00:00Z,NaN,NaN,...,Curaçao,Hellevoetsluis,NaN,"07,23,1700","10,08,1700",",,1701",NaN,Hellevoetsluis,"12,15,1700","06,23,1701"
5,"Crans, Pieter",NaN,NaN,NaN,NaN,1703-01-01T00:00:00Z,NaN,1702-11-29T00:00:00Z,NaN,NaN,...,"Suriname, place unspecified",Hellevoetsluis,NaN,"04,26,1702","06,29,1702",",,1703",NaN,Hellevoetsluis,NaN,"11,29,1702"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36067,Alex,NaN,NaN,12.0,1848-02-26T00:00:00Z,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,1848",",,",NaN,NaN,"2,26,1848",",,"
36068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,"Southeast Brazil, port unspecified",NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,"Southeast Brazil, port unspecified",NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,",",,",NaN,NaN,NaN,",,"

In [41]:
rename_columns = {'Voyage itinerary imputed port where began (ptdepimp) place' : 'beg_loc',
       'Voyage itinerary imputed principal place of slave purchase (mjbyptimp) ' : 'purchase_loc',
       'Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place' : 'end_loc'}
ships.rename(columns = rename_columns, inplace = True)

In [42]:
ships

,Captain's name,Crew deaths during voyage,Crew at first landing of captives,Crew at voyage outset,Date vessel departed with captives,Date vessel departed for homeport,Display in compact mode,Date vessel arrived with captives,First place where captives were landed,First place where captives were purchased,...,Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place.1,Voyage itinerary imputed port where began (ptdepimp) place.1,Voyage ship place where vessel constructed,"Voyage dates that began (depb,a,c)","Voyage dates that slave purchase began (d1slatrb,a,c)","Voyage dates of departure from last place landing (ddepamb,*,c)",Voyage ship place where vessel registered,Voyage itinerary place at which ended (portret),Voyage dates vessel departed africa (leftafr),"Voyage dates of first disembarkation slaves (datarr33,32,34)"
0,"Velde, Daniel ter",NaN,NaN,54.0,1732-09-03T00:00:00Z,1733-04-24T00:00:00Z,NaN,1732-11-18T00:00:00Z,NaN,NaN,...,"Suriname, place unspecified",Texel,NaN,"12,08,1731","01,30,1732","04,24,1733",NaN,Texel,"9,3,1732","11,18,1732"
1,"Hoeven, Jan van der<br/> Wenman, Roelof",NaN,NaN,23.0,1706-09-09T00:00:00Z,NaN,NaN,1706-11-30T00:00:00Z,NaN,NaN,...,Curaçao,Hellevoetsluis,NaN,"06,15,1704",",,1704",",,",NaN,NaN,"9,9,1706","11,30,1706"
3,"Scheij, Pieter",NaN,NaN,NaN,NaN,1688-01-01T00:00:00Z,NaN,1688-01-01T00:00:00Z,NaN,NaN,...,Curaçao,Texel,NaN,"02,,1686","07,27,1687",",,1688",NaN,Texel,NaN,",,1688"
4,"Stoop, Pieter<br/> Crans, Pieter",NaN,NaN,NaN,1700-12-15T00:00:00Z,1701-01-01T00:00:00Z,NaN,1701-06-23T00:00:00Z,NaN,NaN,...,Curaçao,Hellevoetsluis,NaN,"07,23,1700","10,08,1700",",,1701",NaN,Hellevoetsluis,"12,15,1700","06,23,1701"
5,"Crans, Pieter",NaN,NaN,NaN,NaN,1703-01-01T00:00:00Z,NaN,1702-11-29T00:00:00Z,NaN,NaN,...,"Suriname, place unspecified",Hellevoetsluis,NaN,"04,26,1702","06,29,1702",",,1703",NaN,Hellevoetsluis,NaN,"11,29,1702"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36067,Alex,NaN,NaN,12.0,1848-02-26T00:00:00Z,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,1848",",,",NaN,NaN,"2,26,1848",",,"
36068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,"Southeast Brazil, port unspecified",NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,"Southeast Brazil, port unspecified",NaN,",,",",,",",,",NaN,NaN,NaN,",,"
36072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rio de Janeiro,Rio de Janeiro,NaN,",,",",,",",,",NaN,NaN,NaN,",,"

In [43]:
def clean_locationsv2(df):
    df['beg_loc'] = df['beg_loc'].apply(lambda x: str(x).replace(', port unspecified', ''))
    df['purchase_loc'] = df['purchase_loc'].apply(lambda x: str(x).replace(', port unspecified', ''))
    df['end_loc'] = df['end_loc'].apply(lambda x: str(x).replace(', port unspecified', ''))
    return df

In [44]:
ships = clean_locationsv2(df=ships)

In [45]:
from geopy.geocoders import Nominatim

# Initialize Nominatim API
geolocator = Nominatim(user_agent="MyApp")

location = geolocator.geocode("Hyderabad")

In [46]:
unique_locations = set(ships['beg_loc'].unique().tolist() + ships['purchase_loc'].unique().tolist() + ships['end_loc'].unique().tolist())

In [47]:
mapping = {}
no_location = []
for loc in unique_locations:
    try:
        location = geolocator.geocode(loc)
        mapping[loc] = (location.latitude, location.longitude)
    except:
        no_location.append(loc)

In [48]:
len(mapping)

439

In [49]:
len(unique_locations)

504

In [50]:
# there are 60 locations that cannot be found so we can just drop those rows

In [51]:
def extract_long_lats(df, col):
    lat_long = ships[col].apply(lambda x: mapping.get(x, (None, None)))
    df[f'{col}_lat'] = lat_long.apply(lambda x: x[0])
    df[f'{col}_long'] = lat_long.apply(lambda x: x[1])
    return df

In [52]:
ships = extract_long_lats(ships, 'beg_loc')
ships = extract_long_lats(ships, 'purchase_loc')
ships = extract_long_lats(ships, 'end_loc')
ships

,Captain's name,Crew deaths during voyage,Crew at first landing of captives,Crew at voyage outset,Date vessel departed with captives,Date vessel departed for homeport,Display in compact mode,Date vessel arrived with captives,First place where captives were landed,First place where captives were purchased,...,Voyage ship place where vessel registered,Voyage itinerary place at which ended (portret),Voyage dates vessel departed africa (leftafr),"Voyage dates of first disembarkation slaves (datarr33,32,34)",beg_loc_lat,beg_loc_long,purchase_loc_lat,purchase_loc_long,end_loc_lat,end_loc_long
0,"Velde, Daniel ter",NaN,NaN,54.0,1732-09-03T00:00:00Z,1733-04-24T00:00:00Z,NaN,1732-11-18T00:00:00Z,NaN,NaN,...,NaN,Texel,"9,3,1732","11,18,1732",53.077596,4.905731,5.085879,-1.350578,4.141303,-56.077119
1,"Hoeven, Jan van der<br/> Wenman, Roelof",NaN,NaN,23.0,1706-09-09T00:00:00Z,NaN,NaN,1706-11-30T00:00:00Z,NaN,NaN,...,NaN,NaN,"9,9,1706","11,30,1706",51.843347,4.121303,5.085879,-1.350578,12.213394,-69.040850
3,"Scheij, Pieter",NaN,NaN,NaN,NaN,1688-01-01T00:00:00Z,NaN,1688-01-01T00:00:00Z,NaN,NaN,...,NaN,Texel,NaN,",,1688",53.077596,4.905731,-28.002373,153.414599,12.213394,-69.040850
4,"Stoop, Pieter<br/> Crans, Pieter",NaN,NaN,NaN,1700-12-15T00:00:00Z,1701-01-01T00:00:00Z,NaN,1701-06-23T00:00:00Z,NaN,NaN,...,NaN,Hellevoetsluis,"12,15,1700","06,23,1701",51.843347,4.121303,6.366615,2.085360,12.213394,-69.040850
5,"Crans, Pieter",NaN,NaN,NaN,NaN,1703-01-01T00:00:00Z,NaN,1702-11-29T00:00:00Z,NaN,NaN,...,NaN,Hellevoetsluis,NaN,"11,29,1702",51.843347,4.121303,6.366615,2.085360,4.141303,-56.077119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36067,Alex,NaN,NaN,12.0,1848-02-26T00:00:00Z,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"2,26,1848",",,",-22.911014,-43.209373,NaN,NaN,-22.911014,-43.209373
36068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,",,",-23.464807,-46.858413,-12.910466,14.035661,-22.911014,-43.209373
36069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,",,",-22.911014,-43.209373,-12.910466,14.035661,-22.911014,-43.209373
36071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,",,",-23.464807,-46.858413,-12.910466,14.035661,-22.911014,-43.209373
36072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,",,",-22.911014,-43.209373,-12.910466,14.035661,-22.911014,-43.209373

In [53]:
ships.isnull().sum()

Captain's name                         2188
Crew deaths during voyage             23609
Crew at first landing of captives     25751
Crew at voyage outset                 16739
Date vessel departed with captives    21371
                                      ...
beg_loc_long                             27
purchase_loc_lat                       3501
purchase_loc_long                      3501
end_loc_lat                             283
end_loc_long                            283
Length: 88, dtype: int64

In [54]:
ships.to_csv('../data/FULL-trans-atlantic-trade-cleaned.csv')

In [55]:
no_location

['West Central Africa and St. Helena',
 'Momboza or Zanzibar',
 'Quilimane',
 'Settra Kru',
 'Sugary (Siekere)',
 'Bight of Biafra and Gulf of Guinea Islands',
 'Cumingsberg',
 'Bance/Bunce Island',
 'Alecuba',
 'Calabary',
 'Pokesoe (Princes Town)',
 'Caribbean (colony unspecified)',
 'Portuguese Guinea',
 '???',
 'Mediterranean coast (France)',
 'Casnasonis (location undetermined)',
 'Danish Gold Coast',
 'Senegambia or Sierra Leone',
 'Kormantine',
 'Dutch Guianas',
 'Kingston (Demerera)',
 'Windward Coast (Nunez - Assini)',
 'Gulf of Guinea islands',
 'Southeast Africa and Indian Ocean islands',
 'Apammin',
 'Rio de la Hacha',
 'Windward + Ivory + Gold + Benin',
 'Falmouth (Jam.)',
 'Touau-Toro (location undetermined)',
 'Ilho do Fayal',
 'Gallinhas',
 'Rio Assini',
 'Senegambia and offshore Atlantic',
 'Alampo',
 'Mosquito Shore',
 'Aghway',
 'West of Cape Apolonia',
 'Rio São Jeso',
 'Basse Indres',
 'River Kissey',
 'Rio Forcados/Formosa/Benin',
 'French Africa (Goree or Senegal)',
 'Côte de Malaguette (runs through to Cape Palmas on Windward Coast)',
 'Spanish Circum-Caribbean',
 'Gold Coast east of Kormantine',
 'British Leewards',
 'Lucea (a) St. Lucea',
 'British Americas',
 'Cameroons River',
 'Isla de Pinas',
 'Petit Mesurado',
 'Gold Coast + Bight of Benin + Bight of Biafra',
 'Amokou',
 'Princes Island and Elmina',
 'Cape Lahou',
 'Costa Leste Occidental',
 'Grand Sestos',
 'Wiamba',
 'Costa de Africa (mainland coast around S Tome/Principe)',
 'Sierra Leone estuary',
 'Ilha de Lobes',
 'Danish West Indies',
 'Catuamo and Maria Farinha',
 'São Tomé or Princes Island',
 'Ilha de Itamaric\xa0']

In [57]:
len(unique_locations)

504

In [ ]:
pd.Data