In [1]:
import pandas as pd
import numpy as np

In [2]:
locations = pd.read_csv('../data/unknown_loc.csv')
locations = locations.iloc[:, :3]

In [3]:
full_data = pd.read_csv('../data/FULL-trans-atlantic-trade-cleaned.csv', index_col=0)
short_data = pd.read_csv('../data/trans-atlantic-trade-cleaned.csv', index_col= 0)

In [4]:
full_data.isnull().sum()

Captain's name                         2188
Crew deaths during voyage             23609
Crew at first landing of captives     25751
Crew at voyage outset                 16739
Date vessel departed with captives    21371
                                      ...
beg_loc_long                             27
purchase_loc_lat                       3501
purchase_loc_long                      3501
end_loc_lat                             283
end_loc_long                            283
Length: 88, dtype: int64

In [5]:
short_data.isnull().sum()

Year of arrival at port of disembarkation        0
Voyage ID                                        0
Vessel name                                    527
beg_loc                                          0
purchase_loc                                     0
end_loc                                          0
Voyage links                                 27916
Captives arrived at 1st port                 11688
Percent men                                  24955
Percent women                                24954
Percent children                             24224
Captain's name                                2188
beg_loc_lat                                     27
beg_loc_long                                    27
purchase_loc_lat                              3501
purchase_loc_long                             3501
end_loc_lat                                    274
end_loc_long                                   274
dtype: int64

In [6]:
loc_cols = ['beg_loc', 'purchase_loc', 'end_loc']

In [8]:
for loc in locations['Location Name'].values.tolist():
    for col in loc_cols:
        
        full_data.loc[full_data[col] == loc, f'{col}_lat'] = locations.loc[locations['Location Name'] == loc, 'Latitude'].values[0]
        full_data.loc[full_data[col] == loc, f'{col}_long'] = locations.loc[locations['Location Name'] == loc, 'Longtitude '].values[0]

        short_data.loc[short_data[col] == loc, f'{col}_lat'] = locations.loc[locations['Location Name'] == loc, 'Latitude'].values[0]
        short_data.loc[short_data[col] == loc, f'{col}_long'] = locations.loc[locations['Location Name'] == loc, 'Longtitude '].values[0]

In [9]:
full_data.isnull().sum()

Captain's name                         2188
Crew deaths during voyage             23609
Crew at first landing of captives     25751
Crew at voyage outset                 16739
Date vessel departed with captives    21371
                                      ...
beg_loc_long                              2
purchase_loc_lat                         52
purchase_loc_long                        52
end_loc_lat                              75
end_loc_long                             75
Length: 88, dtype: int64

In [10]:
short_data.isnull().sum()

Year of arrival at port of disembarkation        0
Voyage ID                                        0
Vessel name                                    527
beg_loc                                          0
purchase_loc                                     0
end_loc                                          0
Voyage links                                 27916
Captives arrived at 1st port                 11688
Percent men                                  24955
Percent women                                24954
Percent children                             24224
Captain's name                                2188
beg_loc_lat                                      2
beg_loc_long                                     2
purchase_loc_lat                                52
purchase_loc_long                               52
end_loc_lat                                     75
end_loc_long                                    75
dtype: int64

In [11]:
full_data.to_csv('FULL_with_locations.csv')

In [12]:
short_data.to_csv('SIMPLIFIED_with_locations.csv')